/*---------------------------
	Fonts
----------------------------*/
@font-face {
  font-family: "Kingdom";
  src: url("../../../public/Kingdom.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
/* 1.1	Theme Reset Style */
html {
  font-size: 15px;
}

:root {
  scroll-behavior: unset;
}

body {
  font-family: "Inter", sans-serif;
  color: #919195;
  background-color: #211c32;
  font-size: 16px;
  font-size: 1.0666666667rem;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  body {
    font-size: 15px;
  }
}

p {
  font-size: 18px;
  color: #919195;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.sr-only {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 1600px) {
  .container {
    max-width: 1510px;
  }
}

/* 1.2 Global Elements */
.page-wrapper {
  position: relative;
  z-index: 99;
}

.hidden {
  display: none;
}

.wow {
  visibility: hidden;
}

.fi:before {
  margin: 0;
}

.section-padding {
  padding: 120px 0px;
}
@media (max-width: 1400px) {
  .section-padding {
    padding: 100px 0px;
  }
}
@media (max-width: 991px) {
  .section-padding {
    padding: 90px 0;
  }
}
@media (max-width: 767px) {
  .section-padding {
    padding: 80px 0;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  background: #f57f34 !important;
}

.error-404-section {
  text-align: center;
}
.error-404-section .error-message {
  margin-top: 70px;
  padding: 0 200px;
}
@media (max-width: 991px) {
  .error-404-section .error-message {
    margin-top: 50px;
    padding: 0 100px;
  }
}
@media (max-width: 767px) {
  .error-404-section .error-message {
    padding: 0;
  }
}
.error-404-section .error-message h3 {
  font-size: 30px;
  font-size: 2rem;
  margin: 0 0 0.8em;
}
.error-404-section .error-message p {
  margin-bottom: 1.8em;
}

@media (max-width: 767px) {
  #fp-nav.fp-right {
    background: transparent;
    border-radius: 20px;
    right: 5px !important;
  }
}
@media (max-width: 575px) {
  #fp-nav.fp-right {
    right: 0px !important;
  }
}

#fp-nav ul li .fp-tooltip {
  color: #f57f35 !important;
}

.section-title,
.section-title-s2,
.section-title-s3 {
  margin-bottom: 20px;
}
@media (max-width: 1399px) {
  .section-title,
  .section-title-s2,
  .section-title-s3 {
    margin-bottom: 0px;
  }
}
.section-title h2,
.section-title-s2 h2,
.section-title-s3 h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000;
  position: relative;
  z-index: 1;
  display: inline-block;
  font-family: "Rise of Kingdom", sans-serif;
}
@media (max-width: 991px) {
  .section-title h2,
  .section-title-s2 h2,
  .section-title-s3 h2 {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .section-title h2,
  .section-title-s2 h2,
  .section-title-s3 h2 {
    font-size: 27px;
  }
}
.section-title h2 strong,
.section-title-s2 h2 strong,
.section-title-s3 h2 strong {
  position: relative;
  font-weight: 700;
}
.section-title h2 strong:before,
.section-title-s2 h2 strong:before,
.section-title-s3 h2 strong:before {
  position: absolute;
  width: 100%;
  height: 14px;
  background: #f57f34;
  left: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}
@media (max-width: 767px) {
  .section-title h2 strong:before,
  .section-title-s2 h2 strong:before,
  .section-title-s3 h2 strong:before {
    height: 8px;
  }
}

.section-title-s2 {
  text-align: center;
}
.section-title-s2 h2 {
  color: #fff;
}
.section-title-s2 h2:before {
  width: 129px;
}

.section-title-s3 h2:before {
  width: 176px;
  left: auto;
  right: 0;
}

.theme-btn,
.theme-btn-s2,
.theme-btn-s3 {
  background: transparent;
  color: #fff;
  font-weight: 500;
  font-size: 21px;
  padding: 15px 45px;
  border: 0;
  text-transform: capitalize;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Rise of Kingdom", sans-serif;
}
.theme-btn:hover, .theme-btn:focus, .theme-btn:active,
.theme-btn-s2:hover,
.theme-btn-s2:focus,
.theme-btn-s2:active,
.theme-btn-s3:hover,
.theme-btn-s3:focus,
.theme-btn-s3:active {
  background: #f57f34;
  color: #fff;
}
.theme-btn:hover:after, .theme-btn:focus:after, .theme-btn:active:after,
.theme-btn-s2:hover:after,
.theme-btn-s2:focus:after,
.theme-btn-s2:active:after,
.theme-btn-s3:hover:after,
.theme-btn-s3:focus:after,
.theme-btn-s3:active:after {
  border-color: #fff;
}
.theme-btn:hover:after,
.theme-btn-s2:hover:after,
.theme-btn-s3:hover:after {
  opacity: 1;
}
@media (max-width: 991px) {
  .theme-btn,
  .theme-btn-s2,
  .theme-btn-s3 {
    font-size: 18px;
    font-size: 1.2rem;
  }
}
@media (max-width: 767px) {
  .theme-btn,
  .theme-btn-s2,
  .theme-btn-s3 {
    padding: 12px 18px;
    font-size: 14px;
  }
}

.theme-btn-s2 {
  color: #000;
  border-color: #000;
}
.theme-btn-s2:after {
  border: 1px solid rgba(33, 28, 50, 0.2);
}
.theme-btn-s2:hover, .theme-btn-s2:focus, .theme-btn-s2:active {
  background: #f57f34;
  color: #fff;
  border-color: #f57f34;
}
.theme-btn-s2:hover:after, .theme-btn-s2:focus:after, .theme-btn-s2:active:after {
  border-color: #f57f34;
}

.theme-btn-s3 {
  color: #fff;
  border-color: #fff;
}
.theme-btn-s3:after {
  border: 1px solid rgba(33, 28, 50, 0.2);
}
.theme-btn-s3:hover, .theme-btn-s3:focus, .theme-btn-s3:active {
  background: #f57f34;
  color: #fff;
  border-color: #f57f34;
}
.theme-btn-s3:hover:after, .theme-btn-s3:focus:after, .theme-btn-s3:active:after {
  border-color: #f57f34;
}

/*--------------------------------------------------------------
2. header
--------------------------------------------------------------*/
/* 2.2 navigation */
.site-header {
  /* navigation open and close btn hide for width screen */
  /* style for navigation less than 992px */
  /*navbar collaps less then 992px*/
  /*** cart-search-contact ***/
  background-color: transparent;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
@media (min-width: 991px) {
  .site-header {
    padding: 0 130px;
  }
}

.site-header .navigation {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}

.sticky-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: -400px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 1s;
  box-shadow: 0 -5px 15px rgba(8, 106, 216, 0.2901960784);
}

.sticky-on {
  opacity: 1;
  top: 0;
  visibility: visible;
}

.site-header .navigation > .container {
  position: relative;
}

.site-header .row {
  width: 100%;
}

@media (max-width: 991px) {
  .site-header .navigation {
    padding: 20px 0;
  }
}
.site-header #navbar {
  transition: all 0.5s;
}

.site-header #navbar > ul li a:hover,
.site-header #navbar > ul li a:focus {
  text-decoration: none;
  color: #f57f34;
}

@media screen and (min-width: 992px) {
  .site-header #navbar {
    /*** hover effect ***/
    justify-content: center;
  }
  .site-header #navbar li {
    position: relative;
  }
  .site-header #navbar > ul > li > a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #f57f34;
    content: "";
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    border-radius: 3px;
  }
  .site-header #navbar > ul > li > a:hover:before,
  .site-header #navbar > ul > li.current-menu-item a:before,
  .site-header #navbar > ul > li > a.active:before {
    opacity: 1;
    visibility: visible;
  }
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children > a {
    position: relative;
  }
  .site-header #navbar > ul > li:hover > .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
  .site-header #navbar .sub-menu > li:hover > .sub-menu {
    left: 100%;
    visibility: visible;
    opacity: 1;
  }
}
.site-header .container-fluid {
  padding-right: 0;
}

@media (max-width: 991px) {
  .site-header {
    /* class for show hide navigation */
  }
  .site-header .container {
    width: 100%;
    max-width: 100%;
  }
  .site-header .header-right {
    right: -50px;
  }
  .site-header .navbar-header button span {
    background-color: #fff;
    width: 20px;
    display: block;
    height: 2px;
    margin-bottom: 5px;
  }
  .site-header .navbar-header button span:last-child {
    margin: 0;
  }
}
.site-header #navbar ul {
  list-style: none;
}

@media (max-width: 991px) and (max-width: 991px) {
  .site-header #navbar {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .site-header #navbar > ul {
    z-index: 101;
  }
  .site-header #navbar ul a {
    color: #000;
  }
  .site-header #navbar ul a:hover,
  .site-header #navbar ul li.current a {
    color: #f57f34;
  }
  .site-header #navbar .close-navbar .ti-close {
    position: relative;
    top: 1px;
  }
  .site-header .navbar-toggler .first-angle,
  .site-header .navbar-toggler .last-angle {
    transition: all 0.3s;
  }
  .site-header .x-close .middle-angle {
    opacity: 0;
  }
  .site-header .x-close .first-angle {
    position: absolute;
    -webkit-transform: rotate(-44deg);
    top: 16px;
    left: 10px;
  }
  .site-header .x-close .last-angle {
    -webkit-transform: rotate(44deg);
    position: absolute;
    top: 16px;
    right: 10px;
  }
}
@media (max-width: 767px) {
  .site-header .navbar-header .navbar-brand {
    font-size: 24px;
  }
  .site-header #navbar .navbar-nav {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .site-header .navbar-collapse.collapse {
    display: none;
  }
  .site-header .navbar-collapse.collapse.in {
    display: block;
  }
  .site-header .navbar-header .collapse,
  .site-header .navbar-toggle {
    display: block;
  }
  .site-header .navbar-header {
    float: none;
    position: relative;
    z-index: 99;
    text-align: center;
  }
  .site-header .navbar-right {
    float: none;
  }
  .site-header .navbar-nav {
    float: none;
  }
  .site-header .navbar-nav > li {
    float: none;
  }
}
.site-header .header-right {
  display: flex;
  justify-content: flex-end;
  z-index: 991;
  position: relative;
  align-items: center;
}
.site-header .header-right .MuiSelect-select {
  color: #fff;
  border: 0;
  padding: 10px;
  padding-right: 30px;
  font-family: "Rise of Kingdom", sans-serif;
}
.site-header .header-right .MuiSelect-select:hover {
  border: 0;
}
.site-header .header-right fieldset {
  border: 0;
}
.site-header .header-right .MuiSvgIcon-root {
  color: #fff;
}

.site-header .header-right .theme-btn {
  padding: 10px 25px;
}
@media (max-width: 1400px) {
  .site-header .header-right .theme-btn {
    padding: 10px 15px;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .site-header .header-right {
    right: -40px;
  }
}
.site-header .header-right > div:last-child {
  margin: 0 0 0 10px;
  position: relative;
}
@media (max-width: 767px) {
  .site-header .header-right > div:last-child {
    margin: 3px 0 0 10px;
  }
}

.site-header {
  /* navigation open and close btn hide for width screen */
  /* style for navigation less than 992px */
  /*navbar collaps less then 992px*/
}
.site-header .navigation {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.site-header .navigation > .container {
  position: relative;
}
@media (max-width: 991px) {
  .site-header .navigation {
    padding: 5px 0;
  }
}
.site-header #navbar {
  transition: all 0.5s;
}
.site-header #navbar > ul li a:hover,
.site-header #navbar > ul li a:focus {
  text-decoration: none;
  color: #f4701c;
}
@media screen and (min-width: 992px) {
  .site-header #navbar {
    /*** hover effect ***/
  }
  .site-header #navbar li {
    position: relative;
  }
  .site-header #navbar > ul > li > a {
    font-size: 18px;
    padding: 35px 20px;
    display: block;
    color: #fff;
    font-weight: 500;
    position: relative;
    font-family: "Rise of Kingdom", sans-serif;
    cursor: pointer;
  }
}
@media screen and (min-width: 992px) and (max-width: 1870px) {
  .site-header #navbar > ul > li > a {
    padding: 35px 18px;
  }
}
@media screen and (min-width: 992px) {
  .site-header #navbar > ul .sub-menu {
    background-color: #fff;
    box-shadow: 0px 2px 20px 0px rgba(62, 65, 159, 0.09);
    width: 240px;
    position: absolute;
    padding: 20px;
    left: 0;
    top: 110%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
}
@media screen and (min-width: 992px) {
  .site-header #navbar > ul > li .sub-menu a {
    font-size: 16px;
    font-size: 1.0666666667rem;
    display: inline-block;
    padding: 5px 0px;
    color: #211c32;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    transition: all 0.5s;
    font-family: "Inter", sans-serif;
  }
  .site-header #navbar > ul > li .sub-menu a:after {
    position: absolute;
    left: 0px;
    bottom: 5px;
    width: 0px;
    height: 1px;
    content: "";
    background: #f57f34;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .site-header #navbar > ul > li .sub-menu a.active {
    color: #002642;
    font-weight: 700;
  }
  .site-header #navbar > ul > li .sub-menu a:hover:after {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 992px) {
  .site-header #navbar > ul > li > .sub-menu .sub-menu {
    left: 120%;
    top: 0;
  }
}
@media screen and (min-width: 992px) {
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children {
    position: relative;
  }
  .site-header #navbar > ul > li > .sub-menu > .menu-item-has-children:before {
    font-family: "themify";
    content: "\e649";
    font-size: 11px;
    font-size: 0.7333333333rem;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 992px) {
  .site-header #navbar > ul > li:hover > .sub-menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }
}
@media screen and (min-width: 992px) {
  .site-header #navbar .sub-menu > li:hover > .sub-menu {
    left: 110%;
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 991px) {
  .site-header #navbar > ul > li a {
    display: block;
    font-size: 15px;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
  }
  .site-header #navbar > ul > li a:hover, .site-header #navbar > ul > li a.active {
    color: #fff;
  }
  .site-header #navbar > ul .sub-menu > li:last-child {
    border-bottom: 0;
  }
  .site-header #navbar > ul > li > .sub-menu a {
    padding: 8px 15px 8px 45px;
  }
  .site-header #navbar > ul > li > .sub-menu .sub-menu a {
    padding: 8px 15px 8px 65px;
  }
  .site-header #navbar > ul .menu-item-has-children {
    position: relative;
  }
  .site-header #navbar > ul .menu-item-has-children > a {
    position: relative;
    color: #ddd;
  }
  .site-header #navbar > ul .menu-item-has-children > a:hover, .site-header #navbar > ul .menu-item-has-children > a.active {
    color: #fff;
  }
  .site-header #navbar > ul .menu-item-has-children > a:before {
    font-family: "themify";
    content: "\e649";
    font-size: 11px;
    font-size: 0.7333333333rem;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
  }
  .site-header #navbar > ul .menu-item-has-children > a.rotate:before {
    transform: rotate(90deg);
    top: 29%;
  }
  .site-header #navbar > ul .menu-item-has-children > a.rotate {
    color: #fff;
  }
}
@media screen and (min-width: 992px) {
  .site-header .navbar-header .open-btn {
    display: none;
  }
  .site-header #navbar .close-navbar {
    display: none;
  }
}
.site-header .menu-close {
  display: none;
}
@media (max-width: 991px) {
  .site-header {
    /* class for show hide navigation */
  }
  .site-header .container {
    width: 100%;
  }
  .site-header .mobail-menu button {
    background-color: #f57f34;
    width: 40px;
    height: 35px;
    border: 0;
    padding: 5px 10px;
    outline: 0;
    position: relative;
    z-index: 20;
  }
  .site-header .mobail-menu button:focus {
    outline: none;
    box-shadow: none;
  }
  .site-header .mobail-menu button span {
    background-color: #fff;
    width: 20px;
    display: block;
    height: 2px;
    margin-bottom: 5px;
  }
  .site-header .mobail-menu button span:last-child {
    margin: 0;
  }
  .site-header #navbar {
    background: #262b38;
    display: block !important;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    position: fixed;
    left: -320px;
    top: 0px;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
  }
  .site-header #navbar .navbar-nav {
    display: block;
  }
  .site-header #navbar > ul {
    position: relative;
    z-index: 101;
  }
  .site-header #navbar ul a {
    color: #000;
  }
  .site-header #navbar ul a:hover,
  .site-header #navbar ul li.current a {
    color: #f57f34;
  }
  .site-header #navbar .navbar-nav {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;
  }
  .site-header #navbar .close-navbar {
    background-color: #fff;
    width: 40px;
    height: 40px;
    color: #000;
    border: 0;
    outline: none;
    position: absolute;
    left: -41px;
    top: 90px;
    z-index: 20;
  }
  .site-header #navbar .close-navbar .ti-close {
    position: relative;
    top: 1px;
  }
  .site-header .menu-close {
    display: block;
    z-index: 99;
    background: none;
    text-align: center;
    color: #fff;
    border: 0;
    text-align: center;
    margin-left: auto;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
  }
  .site-header .slideInn {
    left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .site-header .navbar-toggler .first-angle,
  .site-header .navbar-toggler .last-angle {
    transition: all 0.3s;
  }
  .site-header .x-close .middle-angle {
    opacity: 0;
  }
  .site-header .x-close .first-angle {
    position: absolute;
    -webkit-transform: rotate(-44deg);
    top: 16px;
    left: 10px;
  }
  .site-header .x-close .last-angle {
    -webkit-transform: rotate(44deg);
    position: absolute;
    top: 16px;
    right: 10px;
  }
}
@media (max-width: 767px) {
  .site-header .navbar-header .navbar-brand {
    font-size: 24px;
    margin: 0;
  }
  .site-header #navbar .navbar-nav {
    margin: 0;
  }
}
@media (max-width: 991px) {
  .site-header .navbar-collapse.collapse {
    display: none;
  }
  .site-header .navbar-collapse.collapse.in {
    display: block;
  }
  .site-header .navbar-header .collapse,
  .site-header .navbar-toggle {
    display: block;
  }
  .site-header .navbar-header {
    float: none;
  }
  .site-header .navbar-right {
    float: none;
  }
  .site-header .navbar-nav {
    float: none;
  }
  .site-header .navbar-nav > li {
    float: none;
  }
}

@media (max-width: 1700px) {
  .site-header {
    padding: 0 30px;
  }
}
@media (max-width: 1500px) {
  .site-header #navbar > ul > li > a {
    padding: 30px 15px;
  }
  .site-header {
    padding: 0 10px;
  }
}
@media (max-width: 1400px) {
  .site-header #navbar > ul > li > a {
    padding: 30px 10px;
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .site-header #navbar > ul > li > a {
    padding: 30px 6px;
    font-size: 14px;
  }
  .site-header .header-right .theme-btn {
    display: none;
  }
}
@media (max-width: 991px) {
  .site-header #navbar > ul > li > a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header-right .theme-btn {
    padding: 20px 12px;
  }
  .site-header .header-right .close-form {
    display: none;
  }
}
.fixed-navbar {
  position: relative;
  z-index: 5555;
}

.fixed-navbar.active .site-header {
  position: fixed;
  z-index: 555;
  top: 0;
  left: 0;
  width: 100%;
  background: #101010;
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.fixed-navbar.active .site-header .navigation {
  background: #101010;
}

.mobileMenu {
  position: fixed;
  left: -250px;
  top: 0;
  z-index: 9999;
  height: 100vh;
  width: 250px;
  background: #19181d;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 10px 40px 0px rgba(50, 50, 50, 0.1);
  overflow-x: auto;
  overflow-y: scroll;
}

.responsivemenu .card-body {
  background: #19181d;
}

.mobileMenu h2 {
  padding-left: 20px;
}

.mobileMenu.show {
  left: 0;
}

.showmenu {
  top: 0;
  z-index: 999;
  cursor: pointer;
}

.showmenu button {
  border: 0;
  padding: 0;
}

.responsivemenu {
  list-style: none;
  padding-left: 0;
  padding-top: 0px;
}

.responsivemenu ul {
  display: block;
  padding: 0;
}

.responsivemenu ul .subMenu {
  padding-left: 20px;
}

.responsivemenu li a,
.responsivemenu ul p {
  display: block;
  padding: 13px 35px;
  font-size: 16px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
  position: relative;
}

.responsivemenu ul a:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 0px;
  height: 2px;
  background: #fff;
  content: "";
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  border-radius: 3px;
}

.responsivemenu ul a:hover,
.responsivemenu ul a.active {
  padding-left: 60px;
}

.responsivemenu ul a:hover:before,
.responsivemenu ul a.active:before {
  width: 20px;
  opacity: 1;
  visibility: visible;
  left: 35px;
}

.responsivemenu ul p {
  position: relative;
  margin-bottom: 0;
}

.responsivemenu li .subMenu {
  padding-left: 20px;
}

.responsivemenu li .subMenu li:first-child a {
  padding-top: 0px;
}

.responsivemenu li .subMenu li {
  padding-top: 0;
}

.responsivemenu li a {
  position: relative;
}

.responsivemenu ul i {
  position: absolute;
  right: 40px;
  top: 15px;
}

.showmenu i {
  font-size: 30px;
  color: #fff;
}

.mobileMenu {
  display: none;
}

.showmenu {
  display: none;
}

@media (max-width: 992px) {
  .showmenu {
    display: block;
    width: 40px;
    height: 41px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
  }
  .showmenu button:focus {
    outline: none;
    box-shadow: none;
  }
  .showmenu button span {
    background-color: #fff;
    width: 20px;
    display: block;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .mobileMenu {
    display: block;
  }
}
.middle-header-3 .showmenu {
  top: 36px;
}

.middle-header2 .showmenu {
  top: 26px;
}

.middle-header-3 .showmenu i {
  color: #fff;
}

@media (max-width: 450px) {
  .mobileMenu {
    left: -240px;
    width: 240px;
  }
  .responsivemenu li a,
  .responsivemenu li p {
    font-size: 14px;
    padding: 13px 25px;
  }
}
.mobileMenu a:not([href]):not([class]),
.mobileMenu a:not([href]):not([class]):hover {
  color: #fff;
}

.fp-watermark {
  display: none;
}

.fp-viewing-1 .site-header,
.fp-viewing-2 .site-header,
.fp-viewing-3 .site-header,
.fp-viewing-4 .site-header,
.fp-viewing-5 .site-header,
.fp-viewing-6 .site-header,
.fp-viewing-7 .site-header,
.fp-viewing-8 .site-header,
.fp-viewing-9 .site-header,
.fp-viewing-10 .site-header,
.fp-viewing-11 .site-header,
.fp-viewing-12 .site-header,
.fp-viewing-13 .site-header,
.fp-viewing-14 .site-header,
.fp-viewing-15 .site-header {
  background: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
.fp-viewing-1 .site-header #navbar > ul > li > a,
.fp-viewing-2 .site-header #navbar > ul > li > a,
.fp-viewing-3 .site-header #navbar > ul > li > a,
.fp-viewing-4 .site-header #navbar > ul > li > a,
.fp-viewing-5 .site-header #navbar > ul > li > a,
.fp-viewing-6 .site-header #navbar > ul > li > a,
.fp-viewing-7 .site-header #navbar > ul > li > a,
.fp-viewing-8 .site-header #navbar > ul > li > a,
.fp-viewing-9 .site-header #navbar > ul > li > a,
.fp-viewing-10 .site-header #navbar > ul > li > a,
.fp-viewing-11 .site-header #navbar > ul > li > a,
.fp-viewing-12 .site-header #navbar > ul > li > a,
.fp-viewing-13 .site-header #navbar > ul > li > a,
.fp-viewing-14 .site-header #navbar > ul > li > a,
.fp-viewing-15 .site-header #navbar > ul > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
}
.fp-viewing-1 .site-header .theme-btn,
.fp-viewing-2 .site-header .theme-btn,
.fp-viewing-3 .site-header .theme-btn,
.fp-viewing-4 .site-header .theme-btn,
.fp-viewing-5 .site-header .theme-btn,
.fp-viewing-6 .site-header .theme-btn,
.fp-viewing-7 .site-header .theme-btn,
.fp-viewing-8 .site-header .theme-btn,
.fp-viewing-9 .site-header .theme-btn,
.fp-viewing-10 .site-header .theme-btn,
.fp-viewing-11 .site-header .theme-btn,
.fp-viewing-12 .site-header .theme-btn,
.fp-viewing-13 .site-header .theme-btn,
.fp-viewing-14 .site-header .theme-btn,
.fp-viewing-15 .site-header .theme-btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
.fp-viewing-1 .site-header .navbar-brand img,
.fp-viewing-2 .site-header .navbar-brand img,
.fp-viewing-3 .site-header .navbar-brand img,
.fp-viewing-4 .site-header .navbar-brand img,
.fp-viewing-5 .site-header .navbar-brand img,
.fp-viewing-6 .site-header .navbar-brand img,
.fp-viewing-7 .site-header .navbar-brand img,
.fp-viewing-8 .site-header .navbar-brand img,
.fp-viewing-9 .site-header .navbar-brand img,
.fp-viewing-10 .site-header .navbar-brand img,
.fp-viewing-11 .site-header .navbar-brand img,
.fp-viewing-12 .site-header .navbar-brand img,
.fp-viewing-13 .site-header .navbar-brand img,
.fp-viewing-14 .site-header .navbar-brand img,
.fp-viewing-15 .site-header .navbar-brand img {
  max-width: 80px;
}

/*3.1 hero-slider*/
.hero-section {
  position: relative;
  background: url(/images/slider/hero.png) no-repeat center center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background-size: cover;
}
@media (max-width: 1500px) {
  .hero-section {
    height: 700px;
  }
}
@media (max-width: 1199px) {
  .hero-section {
    height: 600px;
  }
}
@media (max-width: 991px) {
  .hero-section {
    height: 100%;
  }
}
.hero-section .hero-section-text {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
@media (max-width: 767px) {
  .hero-section .hero-logo {
    max-width: 120px;
    margin: 0 auto;
  }
}
.hero-section .btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.hero-section .btns .btn-wrap {
  margin-left: 30px;
  background: none;
  color: #fff;
  border: 0;
  display: flex;
  align-items: center;
  font-family: "Rise of Kingdom", sans-serif;
}
.hero-section .btns .btn-wrap:hover {
  color: #f57f34;
}
.hero-section .btns .btn-wrap i {
  margin-right: 10px;
}

.arrow-btn a,
.arrow-btn button {
  display: block;
  width: 53px;
  height: 53px;
  line-height: 53px;
  color: #f57f34;
  border: 2px solid rgba(255, 255, 255, 0.4);
  text-align: center;
  margin: 0 auto;
  border-radius: 50%;
  cursor: pointer;
  font-size: 25px;
  background: none;
}
.arrow-btn a:hover,
.arrow-btn button:hover {
  background: #f57f34;
  color: #fff !important;
  border-color: #f57f34;
}

/*--------------------------------------------------------------
4. tp-footer
--------------------------------------------------------------*/
.site-footer {
  position: relative;
  font-size: 15px;
  overflow: hidden;
  padding: 80px 0;
  background: url(/images/ft-bg.png) no-repeat center center;
  background-size: cover;
}
@media (max-width: 767px) {
  .site-footer {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .site-footer .footer-image img {
    max-width: 100px;
  }
}
.site-footer .copyright {
  margin-top: 70px;
}
@media (max-width: 767px) {
  .site-footer .copyright {
    margin-top: 40px;
  }
}
.site-footer .copyright p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 767px) {
  .site-footer .copyright p {
    font-size: 16px;
  }
}

/* 3.2 about-section */
.about-section {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .about-section {
    padding: 40px 0;
  }
}
.about-section .about-wrap {
  background: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .about-section .about-wrap {
    flex-wrap: wrap;
  }
}
.about-section .about-wrap .about-text {
  flex-basis: 50%;
  padding: 20px 75px 20px 65px;
}
@media (max-width: 1399px) {
  .about-section .about-wrap .about-text {
    padding: 20px 60px 20px 45px;
  }
}
@media (max-width: 1199px) {
  .about-section .about-wrap .about-text {
    padding: 20px 40px 20px 25px;
  }
}
@media (max-width: 991px) {
  .about-section .about-wrap .about-text {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .about-section .about-wrap .about-text {
    padding: 20px;
    margin-top: 50px;
  }
}
.about-section .about-wrap .about-text p {
  margin-bottom: 35px;
}
@media (max-width: 1399px) {
  .about-section .about-wrap .about-text p {
    margin-bottom: 20px;
  }
}
@media (max-width: 1199px) {
  .about-section .about-wrap .about-text p {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
.about-section .about-wrap .about-img {
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .about-section .about-wrap .about-img {
    flex-basis: 100%;
  }
}

.see-menu {
  padding: 120px 0;
  background: #000;
}
.see-menu .arrow-btn {
  margin-top: 50px;
}

.menu-tabs {
  display: none;
}
.menu-tabs.show {
  display: block;
}
.menu-tabs .menu-info {
  margin-top: 30px;
}
.menu-tabs .menu-info .MuiBox-root {
  padding: 0;
}
.menu-tabs .menu-info .MuiTabs-flexContainer {
  justify-content: center;
}
.menu-tabs .menu-info .MuiTabs-flexContainer button {
  color: #fff;
  border: 1px solid #fff;
  width: 249px;
  height: 76px;
  border-radius: 5px;
  margin: 0 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-transform: capitalize;
  outline: none;
}
@media (max-width: 991px) {
  .menu-tabs .menu-info .MuiTabs-flexContainer button {
    width: 80px;
    height: 30px;
    margin: 0 5px;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .menu-tabs .menu-info .MuiTabs-flexContainer button {
    margin: 0 5px;
    font-size: 14px;
    min-width: 75px;
    position: relative;
    min-height: 38px;
  }
}
.menu-tabs .menu-info .MuiTabs-flexContainer button.Mui-selected {
  background: #f57f34;
  outline: none;
  box-shadow: none;
}
.menu-tabs .menu-info .MuiTabs-indicator {
  display: none;
}
.menu-tabs .menu-info .MuiBox-root {
  margin-top: 40px;
}

.menu-section {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .menu-section {
    margin-top: 20px;
  }
}
.menu-section .menu-wrap {
  display: flex;
}
@media (max-width: 991px) {
  .menu-section .menu-wrap {
    flex-wrap: wrap;
  }
}
.menu-section .menu-wrap .menu-img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  flex-basis: 50%;
  width: 50%;
}
@media (max-width: 991px) {
  .menu-section .menu-wrap .menu-img-wrap {
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.menu-section .menu-wrap .menu-img-wrap .menu-img-item {
  flex-basis: 50%;
  padding: 15px;
  border-radius: 20px;
}
@media (max-width: 991px) {
  .menu-section .menu-wrap .menu-img-wrap .menu-img-item {
    padding: 5px;
  }
}
.menu-section .menu-wrap .menu-img-wrap .menu-img-item img {
  width: 100%;
  border-radius: 10px;
}
.menu-section .menu-text {
  background: #fff;
  flex-basis: 50%;
  width: 50%;
  margin-left: 30px;
  padding: 80px 65px 80px 100px;
}
@media (max-width: 1599px) {
  .menu-section .menu-text {
    padding: 60px 45px 60px 80px;
  }
}
@media (max-width: 1399px) {
  .menu-section .menu-text {
    padding: 40px;
  }
}
@media (max-width: 1199px) {
  .menu-section .menu-text {
    padding: 30px;
  }
}
@media (max-width: 991px) {
  .menu-section .menu-text {
    flex-basis: 100%;
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .menu-section .menu-text {
    padding: 20px;
  }
}
@media (max-width: 1399px) {
  .menu-section .menu-text p {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .menu-section .menu-text p {
    font-size: 14px;
  }
}
.menu-section .menu-text .menu-text-bottom {
  margin-top: 60px;
}
@media (max-width: 1599px) {
  .menu-section .menu-text .menu-text-bottom {
    margin-top: 60px;
  }
}
@media (max-width: 1399px) {
  .menu-section .menu-text .menu-text-bottom {
    margin-top: 30px;
  }
}
.menu-section .menu-text .menu-text-bottom .menu-btn {
  margin-top: 30px;
}
@media (max-width: 1399px) {
  .menu-section .menu-text .menu-text-bottom .menu-btn a {
    padding: 15px 30px;
  }
}
@media (max-width: 1199px) {
  .menu-section .menu-text .menu-text-bottom .menu-btn a {
    padding: 8px 20px;
  }
}
@media (max-width: 450px) {
  .menu-section .menu-text .menu-text-bottom .menu-btn a {
    padding: 8px 12px;
  }
}
.menu-section .menu-text .menu-text-bottom .menu-btn a + a {
  margin-left: 20px;
}
@media (max-width: 450px) {
  .menu-section .menu-text .menu-text-bottom .menu-btn a + a {
    margin-left: 3px;
  }
}
.menu-section .MuiBox-root {
  padding: 0;
}
.menu-section .MuiTabs-flexContainer {
  justify-content: flex-start;
}
.menu-section .MuiTabs-flexContainer button {
  color: #000;
  border: 1px solid #000;
  width: 153.67px;
  height: 60px;
  border-radius: 5px;
  margin: 0 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-transform: capitalize;
  outline: none;
}
@media (max-width: 1399px) {
  .menu-section .MuiTabs-flexContainer button {
    width: 140.67px;
  }
}
@media (max-width: 1199px) {
  .menu-section .MuiTabs-flexContainer button {
    width: 120.67px;
    height: 50px;
    border-radius: 5px;
    margin: 0 5px;
  }
}
@media (max-width: 991px) {
  .menu-section .MuiTabs-flexContainer button {
    width: 80px;
    height: 30px;
    margin: 0 5px;
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  .menu-section .MuiTabs-flexContainer button {
    margin: 0 5px;
    font-size: 14px;
    min-width: 75px;
    width: 75px;
    position: relative;
    min-height: 38px;
  }
}
.menu-section .MuiTabs-flexContainer button.Mui-selected {
  background: #f57f34;
  outline: none;
  box-shadow: none;
  color: #fff;
}
.menu-section .MuiTabs-indicator {
  display: none;
}
.menu-section .MuiBox-root {
  margin-top: 40px;
}

/* corporate-section */
.corporate-section {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .corporate-section {
    padding: 40px 0;
    margin-top: 15px;
  }
}
.corporate-section .corporate-wrap {
  background: #fff;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .corporate-section .corporate-wrap {
    flex-wrap: wrap;
  }
}
.corporate-section .corporate-wrap .corporate-text {
  flex-basis: 50%;
  padding: 20px 75px 20px 65px;
}
@media (max-width: 1399px) {
  .corporate-section .corporate-wrap .corporate-text {
    padding: 20px 60px 20px 45px;
  }
}
@media (max-width: 1199px) {
  .corporate-section .corporate-wrap .corporate-text {
    padding: 20px 40px 20px 25px;
  }
}
@media (max-width: 991px) {
  .corporate-section .corporate-wrap .corporate-text {
    flex-basis: 100%;
  }
}
@media (max-width: 767px) {
  .corporate-section .corporate-wrap .corporate-text {
    padding: 20px;
  }
}
.corporate-section .corporate-wrap .corporate-text p {
  margin-bottom: 35px;
}
@media (max-width: 1399px) {
  .corporate-section .corporate-wrap .corporate-text p {
    margin-bottom: 20px;
  }
}
@media (max-width: 1199px) {
  .corporate-section .corporate-wrap .corporate-text p {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
.corporate-section .corporate-wrap .corporate-text .corporate-btn {
  padding-top: 30px;
}
@media (max-width: 767px) {
  .corporate-section .corporate-wrap .corporate-text .corporate-btn {
    padding-bottom: 30px;
  }
}
.corporate-section .corporate-wrap .corporate-img {
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .corporate-section .corporate-wrap .corporate-img {
    flex-basis: 100%;
  }
}

@media (min-width: 1400px) {
  .reserver-section .container {
    max-width: 1310px;
  }
}
.reserver-section .reserver-wrap {
  text-align: center;
}
.reserver-section .reserver-wrap .section-title {
  margin-bottom: 50px;
}
.reserver-section .reserver-wrap .section-title h2 {
  color: #fff;
}
.reserver-section .notediv {
  padding-top: 40px;
}
.reserver-section .notediv .note {
  font-size: 20px;
  font-style: italic;
}

.gallery-section {
  background: #000;
}
@media (min-width: 1400px) {
  .gallery-section .container {
    max-width: 1310px;
  }
}
.gallery-section .section-title {
  margin-bottom: 50px;
  text-align: center;
}
.gallery-section .section-title h2 {
  color: #fff;
}
.gallery-section .section-title-s3 {
  text-align: center;
  margin-top: 40px;
}
.gallery-section .section-title-s3 h2 {
  color: #fff;
}
.gallery-section .section-title-s3 h2:before {
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}
.gallery-section .section-title-s3 .instagram-title:before {
  right: 0;
  left: auto;
  transform: inherit;
  width: 255px;
}
.gallery-section .gallery-wrap .slick-slider {
  margin: -5px;
}
.gallery-section .gallery-wrap .slick-slider .slick-slide {
  padding: 5px;
}
.gallery-section .gallery-wrap .slick-prev,
.gallery-section .gallery-wrap .slick-next {
  background-color: rgba(245, 127, 52, 0.7);
  width: 45px;
  height: 45px;
  z-index: 10;
  border-radius: 50%;
  transition: all 0.3s;
  border: 2px solid #f57f34;
}
.gallery-section .gallery-wrap .slick-prev:hover,
.gallery-section .gallery-wrap .slick-next:hover {
  background-color: #f57f34;
}
.gallery-section .gallery-wrap .slick-prev {
  left: -65px;
}
@media (max-width: 767px) {
  .gallery-section .gallery-wrap .slick-prev {
    display: none !important;
  }
}
.gallery-section .gallery-wrap .slick-prev:before {
  font-family: "themify";
  content: "\e64a";
  opacity: 1;
}
.gallery-section .gallery-wrap .slick-next {
  right: -65px;
}
@media (max-width: 767px) {
  .gallery-section .gallery-wrap .slick-next {
    display: none !important;
  }
}
.gallery-section .gallery-wrap .slick-next:before {
  font-family: "themify";
  content: "\e649";
  opacity: 1;
}
.gallery-section .instagram {
  text-align: center;
}
.gallery-section .instagram a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-section .instagram span {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #ffffff;
}
.gallery-section .instagram i {
  font-size: 30px;
  color: #f57f34;
  margin-right: 10px;
}

.contact-form-area .section-title {
  margin-bottom: 50px;
  text-align: center;
}
.contact-form-area .section-title h2 {
  color: #fff;
}
.contact-form-area .contact-form {
  max-width: 709px;
}
.contact-form-area .contact-form .form-group {
  margin-bottom: 40px;
}
.contact-form-area .contact-form .form-group label {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 15px;
  padding-left: 40px;
  position: relative;
}
@media (max-width: 991px) {
  .contact-form-area .contact-form .form-group label {
    font-size: 18px;
    padding-left: 30px;
  }
}
.contact-form-area .contact-form .form-group label::before {
  position: absolute;
  left: 0;
  top: 5px;
  width: 18px;
  height: 18px;
  content: "";
  background: #f57f34;
  border-radius: 50%;
}
.contact-form-area .contact-form .form-group label::after {
  position: absolute;
  left: 4px;
  top: 10px;
  width: 8.18px;
  height: 8.18px;
  content: "";
  background: #fff;
  border-radius: 50%;
}
.contact-form-area .contact-form .form-group .form-control {
  height: 66px;
  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(27.5px);
          backdrop-filter: blur(27.5px);
  padding: 20px;
}
.contact-form-area .contact-form .form-group textarea.form-control {
  height: 245px;
}
.contact-form-area .contact-form .form-group .errorMessage {
  color: red;
  margin-top: 5px;
}
.contact-form-area .contact-form .theme-btn {
  padding: 10px 40px;
}
@media (max-width: 1199px) {
  .contact-form-area .contact-form .theme-btn {
    padding: 10px 20px;
  }
}
@media (max-width: 991px) {
  .contact-form-area .contact-info {
    margin-top: 50px;
  }
}
.contact-form-area .contact-info .contact-info-top {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .contact-form-area .contact-info .contact-info-top {
    flex-wrap: wrap;
  }
}
.contact-form-area .contact-info .contact-info-top .contact-info-item + .contact-info-item {
  position: relative;
}
@media (max-width: 470px) {
  .contact-form-area .contact-info .contact-info-top .contact-info-item + .contact-info-item {
    margin-top: 0px;
  }
}
.contact-form-area .contact-info .contact-info-top .contact-info-item + .contact-info-item:before {
  position: absolute;
  left: -70px;
  top: 10px;
  width: 1px;
  height: 100%;
  content: "";
  border-left: 1px dashed #f57f34;
}
@media (max-width: 1599px) {
  .contact-form-area .contact-info .contact-info-top .contact-info-item + .contact-info-item:before {
    left: -40px;
  }
}
@media (max-width: 1199px) {
  .contact-form-area .contact-info .contact-info-top .contact-info-item + .contact-info-item:before {
    left: -10px;
  }
}
@media (max-width: 991px) {
  .contact-form-area .contact-info .contact-info-top .contact-info-item + .contact-info-item:before {
    display: none;
  }
}
.contact-form-area .contact-info .contact-info-item p {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}
@media (max-width: 1399px) {
  .contact-form-area .contact-info .contact-info-item p {
    font-size: 18px;
  }
}
.contact-form-area .contact-info .contact-info-item span {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 1399px) {
  .contact-form-area .contact-info .contact-info-item span {
    font-size: 15px;
  }
}
.contact-form-area .contact-info .contact-map {
  margin: 40px 0;
}
.contact-form-area .contact-info .contact-map iframe {
  width: 100%;
  height: 450px;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */